PORT=3000
NODE_ENV=development

# Google OAuth
GOOGLE_CLIENT_ID=********
GOOGLE_CLIENT_SECRET=********
GOOGLE_CALLBACK_URL=********

# JWT
JWT_SECRET=*****

# Session
SESSION_SECRET=******

# MongoDB Database
MONGODB_URI=mongodb://localhost:27017/collabhub
DATABASE_NAME=*******

# Socket.io
SOCKET_IO_ORIGIN=http://localhost:3000

# Client url
CLIENT_ORIGIN=http://localhost:5173
